* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(112, 160, 36, 0.349);
}
/* HEADER */
header {
    background: rgb(80,97,69);
    background: linear-gradient(180deg, rgba(80,97,69,1) 0%, rgba(9,149,16,1) 100%);
    padding: 20px;
}

.nav {
    color: white;
    text-align: center;
    list-style-type: none;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
.nav a:hover{
    background-color: #9b9292;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(60deg, #08f03a, #189913, #1f801b, #298126, #337c31, #3d753b, #446843, #374b3b, #4c6450, #5d7e63);
    background-size: 200% 200%;
    animation: waveAnimation 5s ease infinite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    max-width: 500px;
    /*tamanho do fieldset*/
    margin: 0 auto;
    /* Centraliza o container na página */
    padding: 20px;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    transition: 500ms;
    transform: scale(1.05);
}

/* FIM HEADER */
/* FOOTER */
footer {
    margin-top: 5%;
    background: rgb(80,97,69);
    background: linear-gradient(0deg, rgba(80,97,69,1) 0%, rgba(9,149,16,1) 100%);  
    color: #fff;
}

#tablefooter {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#tdfooter {
    background-color: rgb(5, 65, 18);
    padding: 50px;
    font-size: 20px;
}
#tdfooter:hover {
    border: #000 2px solid;

}
hr {
    width: 90%;
    margin-left: 5%;
}

#direitos {
    padding: 30px;
}
/* FIM FOOTER */
/* CADASTRO */
input[type=text],
[type=tel] {
    border-radius: 4px;
    border: none;
}

.cadastrar {
    background-color: rgb(102, 143, 100);
    border: #000 1px solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* FIM CADASTRO */
/* PRATELEIRA */
.tabelapra {
    border-collapse: collapse;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.tabelapra td,
.tabelapra th {
    border: 1px solid #000000;
    padding: 8px;
}

.tabelapra tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabelapra tr:hover {
    background-color: #ddd;
}

.tabelapra th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.delete {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}
#deletado {
    background-color: red;
    color: white;
    border: 1px solid black;
}
/* FIM PRATELEIRA */
fieldset {
    margin-top: 10em;
    border-radius: 6px;
    padding: 5px;
    background-color: #b2d7af;
    background: linear-gradient(60deg, #08f03a, #189913, #1f801b, #298126, #337c31, #3d753b, #446843, #374b3b, #4c6450, #5d7e63);
    background-size: 200% 200%;
    animation: waveAnimation 5s ease infinite;
}
@keyframes waveAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

legend {
    color: #000000;
    background-color:  rgb(102, 143, 100);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
}

input {
    border-radius: 5px;
    background: white;
    padding: 9px;
    padding-left: 50px;
    /*tamanho das laterais*/
    padding-right: 50px;
    /*tamanho das laterais*/
}

#submit {
    font-size: 16px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#submit:hover {
    transition: 200ms;
    background-color: white;
    color: black;
    transform: scale(1.05);
}

.aqui {
    color: black;
    text-decoration: underline;
}

.aqui:hover {
    color: rgb(8, 182, 8);

}

.container {
    background-image: url('imagens/bgFrutas.jpeg');
}
.delete{
    font-family: sans-serif;
    color: white;
}
#deletado{
    background-color: rgb(197, 25, 25);
    font-size: 25px;
}