* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: arial;
}
/* HEADER */
header {
    background-color: #3b533b;
    padding: 20px;
}
.nav {
    color: white;
    text-align: center;
    list-style-type: none;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(11, 204, 11);
    transition: 500ms;
    transform: scale(1.05);
}

/* FIM HEADER */
/* FOOTER */
footer {
    margin-top: 5%;
    background-color: #3b533b;
    color: #fff;
}
table {
    display: flex;
    justify-content: center;
    padding: 50px;
}

td {
    background-color: #303d30;
    padding: 50px;
    font-size: 20px;
}
hr {
    width: 90%;
    margin-left: 5%;
}

#direitos {
    padding: 30px;
}

/* FIM FOOTER */
/* CADASTRO */
input{
    
}
/* FIM CADASTRO */
fieldset {
    margin-top: 10em;
    margin-left: 50em;
    margin-right: 50em;
    border-radius: 10px;
    padding: 5px;
}

input {
    border-radius: 10px;
    background: white;
    padding: 10px;
}




#submit {
    font-size: 16px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#submit:hover {
    transition: 200ms;
    background-color: white;
    color: black;
    transform: scale(1.05);
}